<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movie Finder - Home</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', filename='fav.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='fav.ico')}}"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top"><a class="navbar-brand" href="/">MovieFinder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
            <li class="nav-item"><a class="nav-link" href="/discover">Discover Trending</a></li>
        </ul>
    </div>
</nav>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mt-2 text-center">
                <h2>Welcome to the MovieFinder</h2>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center"><a href="/search"><img alt="100x100"
                                                                                        style="width: 100px; height: 100px;"
                                                                                        src="{{url_for('static', filename='img/search.png')}}"
                                                                                        data-holder-rendered="true"></a>
                <p>Find Movies, Shows or People</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center"><a href="/discover"><img alt="100x100"
                                                                                          style="width: 100px; height: 100px;"
                                                                                          src="{{url_for('static', filename='img/discover.png')}}"
                                                                                          data-holder-rendered="true"></a>
                <p>Discover the top trending movies of the year</p>
            </div>
        </div>
    </div>
</section>
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/tmdb.js')}}"></script>
{% include "footer.html" %}
</body>

</html>
