<section>
    <!-- The Modal -->
    <div class="modal fade " id="detail-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="detail-title" style="height:30px;"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body mx-auto" id="detail-body">
                    <div class="card" style="width: 100%;">
                        <img id="detail-backdrop" class="card-img-top d-none d-sm-block" src="">
                        <div class="card-body" id="detail-tagline">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" id="detail-1"></li>
                            <li class="list-group-item" id="detail-2"></li>
                            <li class="list-group-item" id="detail-3"></li>
                            <li class="list-group-item" id="detail-4"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>