<section>
    <!-- The Modal -->
    <div class="modal fade " id="detail-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="detail-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="detail-body">
                    <div class="media">
                        <div class="media-body">

                            <ul class="list-group">
                                <li class="list-group-item text-center"><img id="detail-backdrop" class="rounded d-none d-sm-block mx-auto"
                                                                             style="height:280px;">
                                    <h4>
                                        <small><i id="detail-tagline"></i></small>
                                    </h4>
                                </li>
                                <li class="list-group-item" id="detail-1"></li>
                                <li class="list-group-item" id="detail-2"></li>
                                <li class="list-group-item" id="detail-3"></li>
                                <li class="list-group-item" id="detail-4"></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</section>